<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Body</h1>
    <form action="/postquest" method="POST">
      <input placeholder="question" type="text" name="soru" />
      <input placeholder="answer" type="text" name="cevap" />
      <button type="submit">go</button>
    </form>
  </body>
</html>