<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <h2>Answer Sheet</h2>
      <table style="border: thin solid coral">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Question</th>
            <th>Answer</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>how many letters in this word "Anshu"</td>
            <td>5</td>
          </tr>
          <tr>
            <td>2</td>
            <td>First Odd Number ?</td>
            <td>1</td>
          </tr>
          <tr>
            <td>3</td>
            <td>First Even no ?</td>
            <td>2</td>
          </tr>
          <tr>
            <td>4</td>
            <td>5 + 5</td>
            <td>10</td>
          </tr>
          <tr>
            <td>5</td>
            <td>write in small letter "ANSHU"</td>
            <td>anshu</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>